@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;700&family=Roboto:wght@100;400;500;700;900&display=swap');

/*----------------- GENERAL -------------------*/

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body{
    background: linear-gradient(90deg,rgb(177, 217, 236), rgb(60, 186, 245), rgb(43, 181, 245), rgb(0,176,255) 70%, rgb(0,49,255));
    max-height: 100vh;
    max-width: 100vw;
    font-family: 'Roboto', sans-serif;;
}

/*----------------- base template -------------------*/
/* navigation bar */
nav {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.logo {
    position: absolute;
    top: 0;
    font-family: "Mukta", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-left: 30px;
    letter-spacing: -1px;
}

nav ul a {
    margin-right: 20px;
    font-weight: 500;
    color: #030416;
    font-size: 1.2rem;
}

nav ul a:hover {
    background: none;
    color: #fafafa;
}

#mobile-demo {
    background: rgb(132, 211, 248);
    background: -o-radial-gradient(circle, rgba(132, 211, 248,1) 0%, rgba(0,176,255,1) 100%);
    background: radial-gradient(circle,rgba(132, 211, 248,1) 0%, rgba(0,176,255,1) 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

/* Footer */
footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
}

.footer-social li {
  list-style-type: none;
  display: inline;
}

.footer-social i {
    font-size: 1.8rem;
    color: #fafafa;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    margin: 10px 5px;
}

.footer-social .fa-facebook:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    color: #036ae3;
}

.footer-social .fa-instagram:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    color: #f56a40;
}

.footer-social .fa-twitter:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    color: #1DA1F2;
}

/*----------------- home -------------------*/

.home-text-container {
    position:absolute;
    left: 8%;
    top: 18%;
    width: 30%;
    max-width: 420px;
}

.home-text-container h2 {
    font-size: 2rem;
}
.home-text-container p{
    font-size: 1.4rem;
}
.home-text-container > p > span {
    font-weight: 500;
    font-family: "Mukta", sans-serif;
}

.home-text-container > p > span > span{
    color: #030416;
}

.home-text-container a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px auto;
}

.redirect-sign-up {
    display: inline;
    width: 120px;
    margin-top: 5px;
    letter-spacing: 1px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #030416;
    border: 1px solid #000000;
    background: rgb(0,255,207);
    border-radius: 20px;
    padding: 8px 12px;
    font-weight: 700;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.redirect-sign-up:hover {
    -webkit-box-shadow: 0px 0px 15px 0px rgb(0,255,207);
            box-shadow: 0px 0px 15px 0px rgb(0,255,207);
    background: #fff;
    border: 1px solid rgb(0,255,207);
}

.home-img {
    position: absolute;
    right: 4%;
    bottom: 8%;
    height: 400px;
    width: 400px;
    -o-object-fit: contain;
       object-fit: contain;
}
/*----------------- BookWorm container -------------------*/

.bookworm-container /* reused throughout the website*/ {
    height: 80%;
    width: 80%;
    background: -o-radial-gradient(circle, rgb(239, 250, 252) 0%, rgb(174, 230, 240) 100%);
    background: radial-gradient(circle,     rgb(239, 250, 252) 0%, rgb(174, 230, 240) 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(247, 247, 247, 0.856);
            box-shadow: 0px 5px 10px 2px rgba(247, 247, 247, 0.856);
    overflow-y: scroll;
}

/*--------------- SIGN UP / LOGIN -----------------*/

.image-container,
.container-login {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%)
}

.image-container img {
    width: 60%;
    height: auto;
}

.sign-up-btn{
    display: block;
    font-family: 'Mukta', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    width: 150px;
    height: 42px;
    letter-spacing: 1px;
    border-radius: 20px;
    border: none;
    margin: 0 auto;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    cursor: pointer;
    background-color: rgb(0,255,207);
    color: #030416
}

.btn-sign-up:hover,
.btn-back:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.30);
            box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.30);
}

.account {
    position: absolute;
    bottom: 10%;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    text-align: center;
    min-width: 130px;
}

.account a {
    color: rgb(255,79,0);
}

.account a:hover {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    cursor: pointer;
}

/*----------------- Profile Page -------------------*/

.profile-welcome{
    position: absolute;
    top: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.books{
    height: 80%;
    overflow: scroll;
    margin: 80px 40px 0 40px;
}

#book-add {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 3.5rem;
    border: none;
    background: transparent;
    cursor: pointer;
    color:rgb(0,49,255);
}

.book {
    height: 250px;
}

.book img {
    height: 180px;
    width: 130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    cursor: pointer;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.title p {
    max-width: 130px;
    font-size: 0.7rem;
    font-weight: 600;
    margin: 0 auto
}

.title p:first-child {
    font-size: 0.8rem;
    margin-top: 3px;
}

/*----------------- Book View Page -------------------*/

.book-container {
    margin: 80px 40px 0 40px;
}
.book-container img {
    height: 375px;
    width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
}

.book-container h1 {
    font-size: 2.5rem;
    margin: 0 0 10px 0;
}

.book-container h3 {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: -1px;
    margin: 0 0 10px 0;
}

.book-container p {
    font-size: 0.95rem;
    text-align: justify;
}

.edit-buttons,
.delete-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
}

.edit-buttons a,
.delete-buttons a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 2px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.edit-buttons a {
    width: 110px;
    height: 50px;
}

.edit-buttons i,
.delete-buttons i {
    margin-left: 5px;
}

.edit-buttons a:hover,
.delete-buttons a:hover {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.30);
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.30);
}

.edit-buttons a:active,
.delete-buttons a:active,
.sign-up:active,
.btn-back:active,
.list-title a:active,
.buy-btn:active {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
}

#edit-book, #edit-list{
    background-color: rgb(0,49,255);
    color: #030416;
}

#delete-book, .delete-btn{
    background-color: rgb(255,79,0);
    color: #030416;
}
/*----------------- My Books Page -------------------*/

.list-title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: rgb(0,255,207);
    color: #030416;
    margin-bottom: 5px;
}

.list-title > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


.list-title i {
    margin: 0 20px;
}

.list-title a,
.buy-btn {
    font-size: 0.9rem;
    font-weight: 600;
    min-width: 105px;
    margin-right: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    color: #030416
}

.list-names {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 0;
    position: relative;
}

.container-book-lists {
    margin: 80px 5px 0 5px;
}

.container-book-lists ul,
.container-discover ul {
    padding: 0 !important;
}

.switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.switch i {
    font-size: 1.5rem;
    margin: 5px;
}

.welcome-user {
    text-align: center;
    padding: 5px;
}

.welcome-user ul {
    display: inline-block;
    text-align: left;
    margin: 20px 0;
}

.welcome-user li {
    list-style-type: circle !important;
}

/*----------------- List View Page -------------------*/

.book-lists-container h1 {
    font-size: 3rem;
    font-family: 'Nunito';
    font-weight: 600;
    letter-spacing: -1px;
    margin: 0 0 20px 0;
}

.book-lists-container h3 {
    font-size: 1rem;
    font-style: italic;
    margin: 0;
}

.books-list img {
    height: 305px;
    width: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
}

.book-title p {
    max-width: 220px;
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0 auto;
    text-align: start;
}

.book-title p:first-child {
    margin-top: 5px;
    font-size: 0.9rem;
}

.book-title {
    margin-bottom: 15px;
}

.book-cover {
    min-height: 375px !important;
}

.modal-books form {
    overflow-y: scroll;
    overflow-x: hidden;
}

/*----------------- Modals -------------------*/

.modal-container{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.modal-container.show-modal{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.modal-books, .modal-books-list{
    position: relative;
    height: auto;
    max-height: 600px;
    border: 10px solid rgb(0,49,255);
    -webkit-box-shadow: 0 0 0 10px #fff;
            box-shadow: 0 0 0 10px #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    
}

@-webkit-keyframes modal {
    from {
        opacity: 0;
        -webkit-transform: translateY(-100px);
                transform: translateY(-100px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes modal {
    from {
        opacity: 0;
        -webkit-transform: translateY(-100px);
                transform: translateY(-100px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

.show-modal .modal-books {
    -webkit-animation: modal .3s;
            animation: modal .3s;
}

.close-modal {
  width: 55px;
  height: 55px;
  background: #fff;
  color:rgb(0,49,255) ;
  border: 4px solid rgb(0,49,255);
  border-radius: 50%;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  top: -35px;
  right: -37px;
}

.close-modal:focus {
    background: #fafafa;
}

.delete{
    -webkit-box-align: start;
    -ms-flex-align: start;
        align-items: start;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
}

.modal-delete{
    position: relative;
    height: auto;
    width: 500px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px 5px;
}

.close-delete-modal{
    color: rgb(0,49,255);
    background: none;
    border: none;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 8px;
}

@-webkit-keyframes delete-modal {
    from {
        opacity: 0;
        -webkit-transform: translateY(-100px);
                transform: translateY(-100px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes delete-modal {
    from {
        opacity: 0;
        -webkit-transform: translateY(-100px);
                transform: translateY(-100px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

.show-modal .modal-delete {
    -webkit-animation: modal .5s;
            animation: modal .5s;
}

.delete-buttons a {
    width: 95px;
    height: 40px;
}
/*----------------- Flash Messages -------------------*/
.flash-message {
    position: relative;
    text-align: center;
    -webkit-transform: translateY(80px);
        -ms-transform: translateY(80px);
            transform: translateY(80px);
    margin-bottom: 20px;
    padding: 0 10px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.35);
            box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.35);
    z-index: 1;
    -webkit-animation: flashes .8s;
            animation: flashes .8s;
}

@-webkit-keyframes flash-message {
    from {
        opacity: 0;
        -webkit-transform: translateY(0);
                transform: translateY(0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(80px);
                transform: translateY(80px);
    }
}

@keyframes flash-message {
    from {
        opacity: 0;
        -webkit-transform: translateY(0);
                transform: translateY(0)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(80px);
                transform: translateY(80px);
    }
}

.flash-message p {
    line-height: 35px;
    font-size: 1.4rem;
}